@font-face {
    font-family: norse;
    src: url(/fonts/Norse-Bold.otf);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
}

.leaves {
    width: 37vw;
    height: 125vh;
    background-image: url(/img/background.jpg);
    background-size:cover;
    background-attachment:local;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.above-logo {
    width:auto;
    height: 30vh;

}

.logo-image {
    width: 17vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: url(/img/odin-lined.png);
    background-size: 12vh;
    background-repeat: no-repeat;
    background-position: right;
}

.logo {
    width: 37vw;
    height: 20vh;
    background-color: hsla(0, 0%, 0%, 0.4);
    display: flex;

}

.logo-text {
    width: 20vw;
    font-family: norse;
    font-size: 8rem;
    color: whitesmoke;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.below-logo {
    width:auto;
    height:74vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: whitesmoke;
    padding-bottom: 1vh;
    font-size: 1.2rem;
}

.main-rightside {
    width: 57vw;
    height: 125vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.above-forms {
    width: 48vw;
    height: 25vh;
    font-size: 3vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    padding-left: 4vw;
    padding-right: 10vw;
    background-color: #F9FAFB;


}

.with-forms {
    width: 58vw;
    min-height: 20vh;
    /* padding-left: 4vw; */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: auto;
    justify-content: space-between;
}

.forms-title {
    font-size: 3vh; 
    font-weight: 600;
    max-width: 57vw;
    padding-left: 4vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.forms {
    max-width: 48vw;
    height: 25vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    gap: 3vh;
    /* padding-right: 10vw; */
    padding-left: 4vw;
    padding-bottom: 3vh;
    
}

.for-labels-and-inputs {
    display: flex;
    flex-direction: column;
}

.with-create-acc-button {
    width: 48vw;
    height: 14vh;
    /* font-size: 2.5vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 550; */
    padding-left: 4vw;
    padding-right: 10vw;
    background-color: #F9FAFB;
    -webkit-box-shadow: inset 0px 12px 23px -26px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 0px 12px 23px -26px rgba(0, 0, 0, 1);
    box-shadow: inset 0px 12px 23px -26px rgba(0, 0, 0, 1);
}

input {
    width: 18vw;
    font-weight: 500;
    font-size: 3vh;
    border: 2px solid #E5E7EB;
    border-radius: 5px;
}

label {
    font-weight: 500;
}

.error {
    border: 2px solid crimson;
}

.error-message {
    margin: 1px;
    color:crimson;
    font-size: 1.5vh;
}

.error-message-confirm {
    margin: 1px;
    color:crimson;
    font-size: 1.5vh;
}

.below-forms {
    width: 48vw;
    height: 20vh;
    font-size: 2.5vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 550;
    padding-left: 4vw;
    padding-right: 10vw;
    background-color: #F9FAFB;
}

.create-account {
    margin-top: 3vh;
    height: 6vh;
    width: 16vw;
    font-size: 2.5vh;
    font-weight: 600;
    border-radius: 12px;
    color: whitesmoke;
    background-color: #596D48;
    -webkit-box-shadow: 8px 8px 17px -17px rgba(0, 0, 0, 1);
    -moz-box-shadow: 8px 8px 17px -17px rgba(0, 0, 0, 1);
    box-shadow: 8px 8px 17px -17px rgba(0, 0, 0, 1);
}

a {
    color: #596D48;
    text-decoration: none;
}
